/* .container{
    width: 1920px;
    height:2217px;
    margin-top: 20px;
} */
.navbar{
    /* height:66px; */
    font-family: Roboto;
    box-shadow:0,10px,10px,rgb(230, 219, 219);

    
}
.nav-items{
    font-size: 14px;
}
.carousel{
    position:absolute;
    top:70px;
}
.heading{
    font-size: 50px;
    font-family: Roboto;
}
.para{
    font-size: 18px;
    font-family: Roboto;
}
.container1{
    position:absolute;
    top:700px;
    margin-left: 480px;
    font-family: Roboto;
    font-size: 17px;
}
#page{
    font-size: 24px;
}
.row{
    position:absolute;
    top:850px;
    left:280px;
    font-family: Roboto;
    font-size: 26px;
    
}
#text{
    font-size: 12px;
}
.image{
    position: absolute;
    top:1250px;
    width:100%;
    margin:0;
}
*{
    box-sizing: border-box;
    margin:0;
}
.col-4{
    position: absolute;
    top: 1700px;
    left:200px;
}
.col-3{
    position:relative;
    top: 800px;
    margin:15px;
}
.col-6{
    position: relative;
    top:800px;
    left:500px;
}